{
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "script"
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "es2021": true,
    "jquery": true,
    "webextensions": true
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "no-unused-vars": ["warn", { "args": "none" }],
    "no-console": "off",
    "no-undef": "off",
    "prefer-const": "off",
    "no-var": "off",
    "no-use-before-define": "off",
    "func-names": "off",
    "prefer-arrow-callback": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-shadow": "off",
    "eqeqeq": "off",
    "dot-notation": "off",
    "prefer-destructuring": "off",
    "arrow-body-style": "off",
    "no-useless-escape": "off"
  }
}